<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/header :: head ('Edit Post')" />
<body class="main">
<nav th:replace="partials/navbar :: navbar" />
<header></header>
<main class="container">
    <div class="card grey-body">
            <form action="" th:action="@{/posts/{id}/edit(id=${id})}" method="post" th:object="${post}">

                    <div class="card-title input-field">
                        <label for="title">Title</label>
                        <input id="title" name="title" type="text" class="validate" th:field="*{title}" th:value="*{title}" />
                    </div>

                    <div class="card-body input-field">
                        <label for="body">Body</label>
                        <textarea id="body" name="body" th:field="*{body}" th:value="*{body}"></textarea>
                    </div>

                <button type="submit" value="submit" class="btn-small btn-primary accent-3">Submit</button>
            </form>
    </div>
</main>
<footer th:replace="partials/footer :: footer" />

</body>
</html>