<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: head ('Viewing Post')" />
<body class="main">
<nav th:replace="partials/navbar :: navbar" />
<header></header>
<main class="container">
    <div class="card grey-body">
        <div class="card-content">
            <h3 class="card-title" th:text="${post.title}" />
            <p th:text="${post.body}" />
            <br />
            <form th:action="@{/posts/delete/{id}(id = ${post.id})}" method="post">
                <button class="btn-small btn-primary">Delete Post</button>
            </form>
        </div>
    </div>
</main>
<footer th:replace="partials/footer :: footer" />
<!--<script th:replace="partials/david-partials :: m-script" />-->
<!--<script th:replace="partials/david-partials :: j-query" />-->
</body>
</html>