<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: head ('Viewing Post')"/>
<body class="main">
<nav th:replace="partials/navbar :: navbar"/>
<header></header>
<main class="container">
    <div class="card offwhite-body">
        <div class="card-content">
            <h3 class="card-title" th:text="${ad.title}"/>
            <p th:text="${ad.description}"/>
            <p th:text="${ad.user.username}"/>
            <div>
                <span th:each="cat : ${ad.categories}">
                    <span th:text="${cat.name}"/>
                </span>
            </div>
        </div>
    </div>
</main>
<footer th:replace="partials/footer :: footer"/>
<!--<script th:replace="partials/david-partials :: m-script" />-->
<!--<script th:replace="partials/david-partials :: j-query" />-->
</body>
</html>