<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="partials/head :: head ('Welcome!')"/>
    <meta charset="UTF-8"/>
    <title>Log In</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar" />
<div class="container">

    <div class="card">
    <h1 >Log In</h1>
    <div>
    <div th:if="${param.error}">
        Invalid Username and Password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>

    <form th:action="@{/login}" method="post">
        <div class="mb-3">
            <label for="username">Username</label>
            <input id="username" name="username" type="text"/>
        </div>
        <div class="mb-3">
            <label for="password">Password</label>
            <input id="password" name="password" type="password"/>
        </div>
        <button type="submit" class="btn btn-primary" value="Log In">Login</button>
    </form>
    </div>
</div>
<!--    <form th:action="@{/login}" method="post">-->
<!--        <label for="username">Username</label>-->
<!--        <input id="username" name="username" type="text"/>-->
<!--        <label for="password">Password</label>-->
<!--        <input id="password" name="password" type="password"/>-->
<!--        <input type="submit" value="Log In"/>-->
<!--    </form>-->
</div>
</body>
</html>