<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/david-partials :: head ('Error!')" />
<body class="main">
<nav th:replace="partials/david-partials :: navbar" />
<header></header>
<main class="container">
    <div class="card offwhite-body">
        <div class="card-image">
            <img src="../static/img/big-bar.png" th:src="@{/img/big-bar.png}" alt="colorful bar" />
        </div>
        <div class="card-content">

            <h3 class="card-title">Hold up, Partner</h3>
            <p>Seems we have a problem...</p>
            <a class="waves-effect waves-purple btn-small indigo accent-3" th:href="@{/templates/posts}">Return to posts</a>
        </div>
    </div>
</main>
<footer th:replace="partials/footer :: footer" />
<script th:replace="partials/m-script :: m-script" />
<script th:replace="partials/j-query :: j-query" />
</body>
</html>