body {
    background-color: lightgrey;
}

.card:hover {
    transform: scale(1.1);
}

.card {
    margin: 0.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    border-radius: 10px;
}